In [39]:
import pandas as pd
import numpy as np
import json

In [9]:
businesses = pd.read_csv('businesses_detailed.csv')
businesses = businesses.drop('Unnamed: 0', axis = 1)

In [55]:
businesses['business_hours'][0].replace(""", "'")

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-55-c20c4dafd397>, line 1)

In [56]:
def days_open(hours):

    hours_trf = json.loads(hours.replace("'", '"'))

    days_open = list(hours_trf.keys())
    num_days_open = len(days_open)
    
    return days_open, num_days_open

In [61]:
businesses['business_hours'][0:1].map(lambda x: days_open(x))

TypeError: 'list' object is not callable

In [30]:
# morning = 4am - before 12pm
# afternoon = 12pm - before 6pm
# evening = 6pm - before 11pm
# late = 11pm - before 4am

businesses['checkins_late']

0           5
1           1
2           1
3           0
4           0
         ...
209388      2
209389     53
209390    161
209391      0
209392      0
Name: checkins_late, Length: 209393, dtype: int64

In [ ]:
i = [0, 5, 6, 8] # don't need to explore: business_id, business_attributes, business_tags, checkin_date
j = [10, 11, 12, 13, 14] # all check-in times

business.columns

In [23]:
# 0, 5, 6, 8


# 1, 2, 4, 7, 9
for attr in businesses.columns[15:]:
    print(businesses[attr].value_counts())

Unspecified    153284
True            48612
False            7497
Name: RestaurantsGoodForGroups, dtype: int64
True           115361
Unspecified     87247
False            6785
Name: BusinessAcceptsCreditCards, dtype: int64
Unspecified      205141
False              2230
Outdoors Only      1619
True                403
Name: Smoking, dtype: int64
Unspecified    151024
False           33425
True            24944
Name: OutdoorSeating, dtype: int64
Unspecified    148683
False           35012
True            25698
Name: ByAppointmentOnly, dtype: int64
Unspecified    188639
True            13032
False            7722
Name: RestaurantsTableService, dtype: int64
Unspecified    159885
Casual          47999
Formal           1509
Name: RestaurantsAttire, dtype: int64
Unspecified    94178
True           68008
False          47207
Name: BusinessParking, dtype: int64
Unspecified    194074
True             9665
False            5654
Name: HappyHour, dtype: int64
Unspecified    191893
False           12934
True             4566
Name: DogsAllowed, dtype: int64
Unspecified    153648
False           34531
True            21214
Name: RestaurantsDelivery, dtype: int64
Unspecified    143287
True            59998
False            6108
Name: RestaurantsTakeOut, dtype: int64
Unspecified    154358
False           33394
True            21641
Name: RestaurantsReservations, dtype: int64
Unspecified    162915
Average         30515
Quiet           10121
Loud             4085
Very Loud        1757
Name: NoiseLevel, dtype: int64
Unspecified    205115
False            3251
True             1027
Name: DriveThru, dtype: int64
Unspecified    98216
$$             62825
$              35405
$$$            10651
$$$$            2296
Name: RestaurantsPriceRange2, dtype: int64
Unspecified    119838
True            69809
False           19746
Name: BikeParking, dtype: int64
Unspecified    140934
True            55527
False           12932
Name: GoodForKids, dtype: int64
Unspecified    144186
True            36984
False           27376
Paid Only         847
Name: WiFi, dtype: int64
Unspecified    180796
True            24935
False            3662
Name: WheelchairAccessible, dtype: int64
Unspecified    165563
True            22842
False           20988
Name: Caters, dtype: int64
Unspecified    200747
True             6260
False            2386
Name: AcceptsInsurance, dtype: int64
Unspecified    156055
True            40233
False           13105
Name: HasTV, dtype: int64
Unspecified           158645
False                  22674
Full Bar               21090
Beer and Wine Only      6984
Name: Alcohol, dtype: int64